*{
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 150vh;
  width: 99vw;
  position: relative;

}

#sidebar{
  width: auto;
  border: 4px orange solid;
  height: 100vh;
  width: 15%;
  position: fixed;
  font-size: 25px;
}

#main{
  background: url(/Style/black-goku-3.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  width:85%;
  height:150vh;
  position:absolute;
  right: 0;
}

#header{
    height: 80px;
    background-color: #fff;
    display: flex;
    position: sticky;
    top: 0;
    margin-top: 70px;
    align-items: center;
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%);
}

#content-1{
  font-size: 50px;
}

#content-2{
  position: absolute;
  right: 0;
}

#banner{
  background: url(/Style/dragon-ball-phim-moi-7.jpg) no-repeat center;
  height: 281px;
  width: 500px;
  position: fixed;
  top: 30%;
  left: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 70px;
  border: 2px solid white;
}

#banner-content{
  color: black;
  background-color: aqua;
  text-shadow: 2px 2px violet
}
